# Data Overview

This notebook inspects the raw data: events and match information.

We will:
- Load and examine the structure of event data
- Load and examine match information
- Perform basic sanity checks on coordinates and event types
- Identify any data quality issues

In [5]:
%load_ext autoreload
%autoreload 2

import sys
from pathlib import Path

# Add project root to path
project_root = Path().resolve().parent
sys.path.insert(0, str(project_root))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import project modules
from src.data_loader import load_raw_events, load_match_info
from src.feature_engineering import add_zone_columns

# Set plotting style
plt.style.use("seaborn-v0_8")
sns.set_palette("husl")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Load Raw Data

In [6]:
# Load event data
events = load_raw_events()
print(f"Events shape: {events.shape}")
print(f"\nColumns: {list(events.columns)}")
print("\nFirst few rows:")
events.head()

Events shape: (579306, 18)

Columns: ['game_id', 'action_id', 'period_id', 'time_seconds', 'team_id', 'player_id', 'result_name', 'start_x', 'start_y', 'end_x', 'end_y', 'dx', 'dy', 'type_name', 'player_name_ko', 'team_name_ko', 'position_name', 'main_position']

First few rows:

,game_id,action_id,period_id,time_seconds,team_id,player_id,result_name,start_x,start_y,end_x,end_y,dx,dy,type_name,player_name_ko,team_name_ko,position_name,main_position
0,126288,0,1,1.033,2353,356625.0,Successful,52.670205,34.919632,68.628945,34.347412,15.958740,-0.572220,Pass,ì´ì˜ì¤€,ê¹€ì²œ ìƒë¬´ í”„ë¡œì¶•êµ¬ë‹¨,CF,CF
1,126288,1,1,2.433,2353,356612.0,NaN,68.628945,34.347412,68.628945,34.347412,0.000000,0.000000,Pass Received,ì›ë‘ì¬,ê¹€ì²œ ìƒë¬´ í”„ë¡œì¶•êµ¬ë‹¨,CDM,CM
2,126288,2,1,3.033,2353,356612.0,Successful,68.228055,33.853256,65.468865,26.640292,-2.759190,-7.212964,Pass,ì›ë‘ì¬,ê¹€ì²œ ìƒë¬´ í”„ë¡œì¶•êµ¬ë‹¨,CDM,CM
3,126288,3,1,4.333,2353,356618.0,NaN,65.468865,26.640292,65.468865,26.640292,0.000000,0.000000,Pass Received,ê¹€ì§„ê·œ,ê¹€ì²œ ìƒë¬´ í”„ë¡œì¶•êµ¬ë‹¨,CM,CM
4,126288,4,1,4.900,2353,356618.0,Successful,64.838025,26.766636,63.300510,43.018024,-1.537515,16.251388,Pass,ê¹€ì§„ê·œ,ê¹€ì²œ ìƒë¬´ í”„ë¡œì¶•êµ¬ë‹¨,CM,CM

In [7]:
# Load match information
match_info = load_match_info()
print(f"Match info shape: {match_info.shape}")
print(f"\nColumns: {list(match_info.columns)}")
print("\nFirst few rows:")
match_info.head()

Match info shape: (198, 17)

Columns: ['game_id', 'season_id', 'competition_id', 'game_day', 'game_date', 'home_team_id', 'away_team_id', 'home_score', 'away_score', 'venue', 'competition_name', 'country_name', 'season_name', 'home_team_name', 'home_team_name_ko', 'away_team_name', 'away_team_name_ko']

First few rows:

,game_id,season_id,competition_id,game_day,game_date,home_team_id,away_team_id,home_score,away_score,venue,competition_name,country_name,season_name,home_team_name,home_team_name_ko,away_team_name,away_team_name_ko
0,126283,3669,587,1,2024-03-01 05:00:00,2354,4639,1,0,ë¬¸ìˆ˜ì›”ë“œì»µê²½ê¸°ì¥,K League 1,KR,2024,Ulsan HD FC,ìš¸ì‚° HD FC,Pohang Steelers,í¬í•­ ìŠ¤í‹¸ëŸ¬ìŠ¤
1,126284,3669,587,1,2024-03-01 07:30:00,4640,4657,1,1,ì „ì£¼ì›”ë“œì»µê²½ê¸°ì¥,K League 1,KR,2024,Jeonbuk Hyundai Motors,ì „ë¶ í˜„ëŒ€ ëª¨í„°ìŠ¤,Daejeon Hana Citizen,ëŒ€ì „ í•˜ë‚˜ ì‹œí‹°ì¦Œ
2,126285,3669,587,1,2024-03-02 05:00:00,4648,316,2,0,ê´‘ì£¼ì „ìš©êµ¬ì¥,K League 1,KR,2024,Gwangju FC,ê´‘ì£¼FC,FC Seoul,FCì„œìš¸
3,126286,3669,587,1,2024-03-02 07:30:00,4646,4220,0,1,ì¸ì²œì¶•êµ¬ì „ìš©ê²½ê¸°ì¥,K League 1,KR,2024,Incheon United,ì¸ì²œ ìœ ë‚˜ì´í‹°ë“œ,Suwon FC,ìˆ˜ì›FC
4,126287,3669,587,1,2024-03-02 07:30:00,4643,4641,1,1,ì†¡ì•”ìŠ¤í¬ì¸ íƒ€ìš´ ì£¼ê²½ê¸°ì¥,K League 1,KR,2024,Gangwon FC,ê°•ì›FC,Jeju United,ì œì£¼SK FC

## Data Info and Basic Statistics

In [8]:
# Event data info
print("Event Data Info:")
print("=" * 50)
events.info()

Event Data Info:
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579306 entries, 0 to 579305
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   game_id         579306 non-null  int64
 1   action_id       579306 non-null  int64
 2   period_id       579306 non-null  int64
 3   time_seconds    579306 non-null  float64
 4   team_id         579306 non-null  int64
 5   player_id       579305 non-null  float64
 6   result_name     229702 non-null  object
 7   start_x         579306 non-null  float64
 8   start_y         579306 non-null  float64
 9   end_x           579306 non-null  float64
 10  end_y           579306 non-null  float64
 11  dx              579306 non-null  float64
 12  dy              579306 non-null  float64
 13  type_name       579306 non-null  object
 14  player_name_ko  579305 non-null  object
 15  team_name_ko    579306 non-null  object
 16  position_name   509186 non-null  object
 17  main_position   577602 non-null  object
dtypes: float64(8), int64(4), object(6)
memory usage: 79.6+ MB

In [9]:
# Match info data info
print("Match Info Data Info:")
print("=" * 50)
match_info.info()

Match Info Data Info:
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   game_id            198 non-null    int64
 1   season_id          198 non-null    int64
 2   competition_id     198 non-null    int64
 3   game_day           198 non-null    int64
 4   game_date          198 non-null    object
 5   home_team_id       198 non-null    int64
 6   away_team_id       198 non-null    int64
 7   home_score         198 non-null    int64
 8   away_score         198 non-null    int64
 9   venue              198 non-null    object
 10  competition_name   198 non-null    object
 11  country_name       198 non-null    object
 12  season_name        198 non-null    int64
 13  home_team_name     198 non-null    object
 14  home_team_name_ko  198 non-null    object
 15  away_team_name     198 non-null    object
 16  away_team_name_ko  198 non-null    object
dtypes: int64(9), object(8)
memory usage: 26.4+ KB

## Basic Sanity Checks

In [10]:
# Check coordinate ranges
# TODO: Adjust column names to match actual dataset
# Expected columns: start_x, start_y, end_x, end_y

if "start_x" in events.columns:
    print("Coordinate Ranges:")
    print(f"start_x: {events['start_x'].min():.2f} - {events['start_x'].max():.2f}")
    print(f"start_y: {events['start_y'].min():.2f} - {events['start_y'].max():.2f}")
    if "end_x" in events.columns:
        print(f"end_x: {events['end_x'].min():.2f} - {events['end_x'].max():.2f}")
        print(f"end_y: {events['end_y'].min():.2f} - {events['end_y'].max():.2f}")
else:
    print("TODO: Update column names for coordinates")

Coordinate Ranges:
start_x: 0.00 - 105.00
start_y: 0.00 - 68.00
end_x: 0.00 - 105.00
end_y: 0.00 - 68.00

In [11]:
# Distribution of event types
# TODO: Adjust column name to match actual dataset (e.g., "type_name")
if "type_name" in events.columns:
    print("Event Type Distribution:")
    print("=" * 50)
    event_counts = events["type_name"].value_counts()
    print(event_counts)
    print(f"\nTotal unique event types: {events['type_name'].nunique()}")
else:
    print("TODO: Update column name for event type")

Event Type Distribution:
==================================================
type_name
Pass                      178582
Pass Received             167531
Carry                      88739
Recovery                   29713
Interception               13852
Out                        12136
Duel                       11244
Clearance                   9847
Tackle                      9498
Intervention                8835
Throw-In                    7461
Block                       6881
Cross                       6163
Shot                        4381
Pass_Freekick               4362
Foul                        4097
Goal Kick                   3030
Error                       2587
Ball Received               1743
Pass_Corner                 1729
Take-On                     1456
Catch                       1109
Parry                        807
Aerial Clearance             600
Hit                          581
Offside                      529
Goal                         515
Pause                        410
Defensive Line Support       320
Shot_Freekick                152
Handball_Foul                152
Goal Miss                     83
Goal Post                     71
Penalty Kick                  51
Deflection                    34
Own Goal                      18
Foul_Throw                     7
Name: count, dtype: int64

Total unique event types: 37

In [12]:
# Distribution of results/outcomes
# TODO: Adjust column name to match actual dataset (e.g., "result_name")
if "result_name" in events.columns:
    print("Result Distribution:")
    print("=" * 50)
    result_counts = events["result_name"].value_counts()
    print(result_counts)
else:
    print("TODO: Update column name for result/outcome")

Result Distribution:
==================================================
result_name
Successful            183372
Unsuccessful           41073
Off Target              1970
On Target               1117
Blocked                  859
Yellow_Card              640
Goal                     515
Low Quality Shot         105
Direct_Red_Card           22
Keeper Rush-Out           18
Second_Yellow_Card        11
Name: count, dtype: int64

## Notes / TODO

- [ ] Update column names in this notebook once exact schema is confirmed
- [ ] Check for missing values and decide on handling strategy
- [ ] Validate coordinate system (0-100 scale assumed)
- [ ] Identify any data quality issues (duplicates, outliers, etc.)
- [ ] Explore team names and IDs mapping

`00_data_overview.ipynb` ë‚´ìš© í™•ì¸ ì¤‘ì…ë‹ˆë‹¤.


[1 tool called]


`00_data_overview.ipynb` ë…¸íŠ¸ë¶ ì„¤ëª…ì…ë‹ˆë‹¤.

## ğŸ“Š 00_data_overview.ipynb - ë°ì´í„° ê°œìš” ë…¸íŠ¸ë¶

ì´ ë…¸íŠ¸ë¶ì€ ì›ì‹œ ë°ì´í„°ë¥¼ íƒìƒ‰í•˜ê³  ê¸°ë³¸ í†µê³„ë¥¼ í™•ì¸í•©ë‹ˆë‹¤.

---

### ğŸ“ Cell 0: ëª©ì  ë° ê°œìš” (Markdown)

- ì›ì‹œ ì´ë²¤íŠ¸ ë°ì´í„°ì™€ ê²½ê¸° ì •ë³´ êµ¬ì¡° í™•ì¸
- ì¢Œí‘œ ë²”ìœ„, ì´ë²¤íŠ¸ íƒ€ì… ë¶„í¬ ë“± ê¸°ë³¸ ê²€ì¦
- ë°ì´í„° í’ˆì§ˆ ì´ìŠˆ í™•ì¸

---

### ğŸ”§ Cell 1: í™˜ê²½ ì„¤ì • ë° ì„í¬íŠ¸

```python
%load_ext autoreload
%autoreload 2  # ì½”ë“œ ë³€ê²½ ì‹œ ìë™ ë¦¬ë¡œë“œ
```

- í”„ë¡œì íŠ¸ ë£¨íŠ¸ë¥¼ `sys.path`ì— ì¶”ê°€
- í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸ (pandas, numpy, matplotlib, seaborn)
- í”„ë¡œì íŠ¸ ëª¨ë“ˆ ì„í¬íŠ¸ (`data_loader`, `feature_engineering`)
- ì‹œê°í™” ìŠ¤íƒ€ì¼ ì„¤ì •

---

### ğŸ“¥ Cell 2-4: ì›ì‹œ ë°ì´í„° ë¡œë”©

#### Cell 3: ì´ë²¤íŠ¸ ë°ì´í„° ë¡œë”©
```python
events = load_raw_events()
```

ê²°ê³¼:
- ì´ 579,306ê°œì˜ ì´ë²¤íŠ¸
- 18ê°œ ì»¬ëŸ¼:
  - `game_id`, `action_id`, `period_id`, `time_seconds`
  - `team_id`, `player_id`
  - `start_x`, `start_y`, `end_x`, `end_y` (ì¢Œí‘œ)
  - `type_name` (ì´ë²¤íŠ¸ íƒ€ì…)
  - `result_name` (ì„±ê³µ/ì‹¤íŒ¨)
  - `team_name_ko`, `player_name_ko` (í•œê¸€ ì´ë¦„)

#### Cell 4: ê²½ê¸° ì •ë³´ ë¡œë”©
```python
match_info = load_match_info()
```

ê²°ê³¼:
- ì´ 198ê²½ê¸°
- 17ê°œ ì»¬ëŸ¼:
  - `game_id`, `home_team_id`, `away_team_id`
  - `home_score`, `away_score`
  - `home_team_name_ko`, `away_team_name_ko`
  - `venue`, `game_date` ë“±

---

### ğŸ“Š Cell 5-7: ë°ì´í„° ì •ë³´ ë° ê¸°ë³¸ í†µê³„

#### Cell 6: ì´ë²¤íŠ¸ ë°ì´í„° ìƒì„¸ ì •ë³´
- ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰: ì•½ 79.6 MB
- ê²°ì¸¡ì¹˜:
  - `result_name`: 229,702ê°œ (ì¼ë¶€ ì´ë²¤íŠ¸ëŠ” ê²°ê³¼ ì—†ìŒ)
  - `player_id`: 1ê°œ
  - `position_name`: 70,120ê°œ

#### Cell 7: ê²½ê¸° ì •ë³´ ìƒì„¸ ì •ë³´
- ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰: ì•½ 26.4 KB
- ê²°ì¸¡ì¹˜ ì—†ìŒ

---

### âœ… Cell 8-11: ê¸°ë³¸ ê²€ì¦ (Sanity Checks)

#### Cell 9: ì¢Œí‘œ ë²”ìœ„ í™•ì¸
```
start_x: 0.00 - 105.00
start_y: 0.00 - 68.00
end_x: 0.00 - 105.00
end_y: 0.00 - 68.00
```

ì°¸ê³ : ì‹¤ì œ ì¢Œí‘œëŠ” 0-100ì´ ì•„ë‹ˆë¼ 0-105 (xì¶•), 0-68 (yì¶•)ì…ë‹ˆë‹¤. ì´ëŠ” ì‹¤ì œ ì¶•êµ¬ì¥ ë¹„ìœ¨(105m Ã— 68m)ì„ ë°˜ì˜í•©ë‹ˆë‹¤.

#### Cell 10: ì´ë²¤íŠ¸ íƒ€ì… ë¶„í¬
ì´ 37ê°€ì§€ ì´ë²¤íŠ¸ íƒ€ì…:
- Pass (178,582) - ê°€ì¥ ë§ìŒ
- Pass Received (167,531)
- Carry (88,739)
- Shot (4,381)
- Goal (515)
- ê¸°íƒ€: Tackle, Clearance, Cross ë“±

#### Cell 11: ê²°ê³¼(ì„±ê³µ/ì‹¤íŒ¨) ë¶„í¬
- Successful (183,372) - ì„±ê³µ
- Unsuccessful (41,073) - ì‹¤íŒ¨
- Goal (515)
- On Target (1,117), Off Target (1,970)
- ê¸°íƒ€: Yellow_Card, Blocked ë“±

---

### ğŸ“ Cell 12: Notes / TODO

í–¥í›„ ì‘ì—…:
- [ ] ì»¬ëŸ¼ëª… í™•ì¸ ë° ì—…ë°ì´íŠ¸
- [ ] ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ì „ëµ ìˆ˜ë¦½
- [ ] ì¢Œí‘œ ì‹œìŠ¤í…œ ê²€ì¦ (0-100 ê°€ì •, ì‹¤ì œëŠ” 0-105/0-68)
- [ ] ì¤‘ë³µ, ì´ìƒì¹˜ í™•ì¸
- [ ] íŒ€ ì´ë¦„ê³¼ ID ë§¤í•‘ íƒìƒ‰

---

## ğŸ” ì£¼ìš” ë°œê²¬ ì‚¬í•­

1. ì¢Œí‘œ ì‹œìŠ¤í…œ: 0-100ì´ ì•„ë‹ˆë¼ ì‹¤ì œ í•„ë“œ í¬ê¸°(105Ã—68) ì‚¬ìš©
2. ë°ì´í„° ê·œëª¨: ì•½ 58ë§Œ ê°œ ì´ë²¤íŠ¸, 198ê²½ê¸°
3. ì´ë²¤íŠ¸ íƒ€ì…: 37ê°€ì§€ (Passê°€ ê°€ì¥ ë§ìŒ)
4. ê²°ì¸¡ì¹˜: `result_name`ì— ì•½ 35ë§Œ ê°œ ê²°ì¸¡ (ì¼ë¶€ ì´ë²¤íŠ¸ëŠ” ê²°ê³¼ê°€ ì—†ìŒ)

---

## ğŸ’¡ ë‹¤ìŒ ë‹¨ê³„

1. ì¢Œí‘œ ì •ê·œí™”: 0-100 ìŠ¤ì¼€ì¼ë¡œ ë³€í™˜í•˜ê±°ë‚˜, í˜„ì¬ ìŠ¤ì¼€ì¼(0-105/0-68) ê·¸ëŒ€ë¡œ ì‚¬ìš©
2. ê²°ì¸¡ì¹˜ ì²˜ë¦¬: `result_name`ì´ ì—†ëŠ” ì´ë²¤íŠ¸ ì²˜ë¦¬ ë°©ë²• ê²°ì •
3. ë‹¤ìŒ ë…¸íŠ¸ë¶: `01_pitch_utils_and_zones.ipynb`ì—ì„œ í”¼ì¹˜ ì‹œê°í™” ë° Zone í• ë‹¹ í…ŒìŠ¤íŠ¸

ì´ ë…¸íŠ¸ë¶ì€ ë°ì´í„°ì˜ ì²« ì¸ìƒì„ íŒŒì•…í•˜ëŠ” ë° ì‚¬ìš©ë©ë‹ˆë‹¤.